{% extends '::base.html.twig' %}
{% block page_header %}{% endblock page_header %}
{% block footer %} {% endblock footer %}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
