{% if pageCount > 1 %}
    {% set item = 'MopaBootstrapBundle:Pagination:sliding_item.html.twig' %}

    <ul class="{{ pagination_class|default('pagination') }}">
        {% if pageCount > 9 %}
            {% if current < 6 %}
                {% for page in 1..(current + 2) %}
                    {% include item %}
                {% endfor %}
                <li><span class="paginator-separator">...</span></li>
                {% include item with {page: pageCount} %}
            {% elseif current < (pageCount - 4) %}
                {% include item with {page: 1} %}
                <li><span class="paginator-separator">...</span></li>
                {% for page in (current - 2)..(current + 2) %}
                    {% include item %}
                {% endfor %}
                <li><span class="paginator-separator">...</span></li>
                {% include item with {page: pageCount} %}
            {% else %}
                {% include item with {page: 1} %}
                <li><span class="paginator-separator">...</span></li>
                {% for page in (current - 2)..pageCount %}
                    {% include item %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for page in 1..pageCount %}
                {% include item %}
            {% endfor %}
        {% endif %}
    </ul>
{% endif %}
