{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% block head_style %}
    {% stylesheets output='css/bootstrap.css'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@AppBundle/Resources/public/css/select2-bootstrap3.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

    {% stylesheets output='css/style.css'
        '@AppBundle/Resources/public/less/style.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

    {% stylesheets output='css/custom.css'
        '@PinanoSelect2Bundle/Resources/public/css/select2.min.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

{% endblock head_style %}

{% block title %}Library{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: true, inverse: true } %}
        {% block brand %}
            <div class="navbar-brand">Каталог Авторов</div>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('mainmenu') }}
            {{ mopa_bootstrap_menu('rightsidemenu', {'automenu': 'navbar', 'pull-right': true}) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block head_script %}
    {% javascripts output='js/3d-party.js'
        '@AppBundle/Resources/public/js/jquery/jquery.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block foot_script %}
    {% javascripts output='js/bootstrap-scripts.js'
        '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts output='js/custom-scripts.js'
        '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
        '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}