{% extends '@App/layout.html.twig' %}

{% block content %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="pull-right">
                <a href="{{ path('author_new') }}" class="btn btn-warning">Добавить Автора</a>
            </div>
        {% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Фио
            </th>
            <th>
                Действия
            </th>
        </tr>
        </thead>
        <tbody>
        {% for author in paginator %}
            <tr>
                <td>
                    {{ author.fioFormatted }}
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('author_view', {id:author.id}) }}">Просмотр</a>
                    {% if app.user == author.owner %}
                        <a href="{{ path('author_edit', {id:author.id}) }}" class="btn btn-warning ">Редактировать</a>
                        <a href="{{ path('author_remove', {id:author.id}) }}" class="btn btn-error ">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginator is empty %}
        <div>Нет Авторов</div>
    {% endif %}
    <div class="pull-right">
        {{ knp_pagination_render(paginator) }}
    </div>
{% endblock content %}