{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% if app.user == author.owner %}
                <a href="{{ path('author_edit', {id:author.id}) }}" class="btn btn-warning">Редактировать</a>
                <a href="{{ path('author_remove', {id:author.id}) }}" class="btn btn-error">Удалить</a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div>
                <h2>{{ author.fio }}</h2>
            </div>
            <hr/>
            <div>
                {% if author.books|length > 0 %}
                <div>
                    <h3>Книги: </h3>
                    {% for book in author.books %}
                    <div>
                        {% if book.imagePath != null %}
                            <img class="book-image-min" src="{{ asset("uploads/books_image/" ~ book.imagePath) }}"
                                 alt="{{ book.name }}">
                        {% else %}
                            <img class="book-image-min" src="{{ asset('bundles/app/img/no_image.png') }}"
                                 alt="no_image"/>
                        {% endif %}
                    </div>
                    <div>
                        <div>
                            <b>Название: </b>
                            {{ book.name }}
                        </div>
                        <div>
                            <b>Год: </b>
                            {{ book.year }}
                        </div>
                        <div>
                            <b>ISNB: </b>
                            {{ book.iSBN }}
                        </div>
                        <div>
                            <b>Страниц: </b>
                            {{ book.pages }}
                        </div>
                        <div>
                            <a href="{{ path('book_view', {id:book.id}) }}" class="btn btn-warning btn-lg">Просмотр</a>
                        </div>
                        <hr/>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}