<div class="row">
    <div class="col-md-4">
        {% if book.imagePath != null %}
            <img class="book-image" src="{{ asset("uploads/books_image/" ~ book.imagePath) }}" alt="{{ book.name }}">
        {% else %}
            <img class="book-image" src="{{ asset('bundles/app/img/no_image.png') }}" alt="no_image"/>
        {% endif %}
    </div>
    <div class="col-md-8">
        <div>
            <b>Название: </b>
            {{ book.name }}
        </div>
        <div>
            <b>Год: </b>
            {{ book.year }}
        </div>
        <div>
            <b>ISNB: </b>
            {{ book.iSBN }}
        </div>
        <div>
            <b>Страниц: </b>
            {{ book.pages }}
        </div>
        <hr/>
        {% if book.authors|length > 0 %}
            <div>
                <b>Автор(ы): </b>
                {% for author in book.authors %}
                    <p>
                        <a href="{{ path('author_view',{id:author.id}) }}">{{ author.fioFormatted }}</a>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <a href="{{ path('book_view', {id:book.id}) }}" class="btn btn-success btn-lg">Просмотр</a>
            {% if app.user == book.owner %}
                <a href="{{ path('book_edit', {id:book.id}) }}" class="btn btn-warning btn-lg">Редактировать</a>
                <a href="{{ path('book_remove', {id:book.id}) }}" class="btn btn-error btn-lg">Удалить</a>
            {% endif %}
        </div>
    </div>

</div>