{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            <label for="username" class="control-label">Имя пользователя</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Пароль</label>
            <input type="password" id="password" name="_password" required="required" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" value="Войти" class="btn btn-success" />
        </div>
    </form>
</div>
