{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form_start(form, {action: path('book_update', {id: book.id}), attr: {'class': 'horizontal'}}) }}
            {{ form_widget(form) }}
            <div class="btn-footer">
                <button class="btn btn-default btn-lg" type="submit">&nbsp;Save</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-4">
            {% if book.imagePath != null %}
                <img class="book-image" src="{{ asset("uploads/books_image/" ~ book.imagePath) }}" alt="{{ book.name }}">
            {% else %}
                <img src="{{ asset('bundles/app/img/no_image.png') }}" alt="no_image"/>
            {% endif %}
        </div>
    </div>
{% endblock %}

