{% extends '@App/layout.html.twig' %}

{% block content %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="pull-right">
                <a href="{{ path('book_new') }}" class="btn btn-warning">Добавить Книгу</a>
            </div>
        {% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Год
            </th>
            <th>
                ISBN
            </th>
            <th>
                Страниц
            </th>
            <th>
                Действия
            </th>
        </tr>
        </thead>
        <tbody>
        {% for book in paginator %}
            <tr>
                <td>
                    {{ book.name }}
                </td>
                <td>
                    {{ book.year }}
                </td>
                <td>
                    {{ book.ISBN }}
                </td>
                <td>
                    {{ book.pages }}
                </td>

                <td>
                    <a class="btn btn-success" href="{{ path('book_view', {id:book.id}) }}">Просмотр</a>
                    {% if app.user == book.owner %}
                        <a href="{{ path('book_edit', {id:book.id}) }}" class="btn btn-warning">Редактировать</a>
                        <a href="{{ path('book_remove', {id:book.id}) }}" class="btn btn-error">Удалить</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if paginator is empty %}
        <div>Нет Книг</div>
    {% endif %}
    <div class="pull-right">
        {{ knp_pagination_render(paginator) }}
    </div>
{% endblock content %}