{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ form_start(form, {action: path('book_create', {id: book.id}), attr: {'class': 'horizontal'}}) }}
    {{ form_widget(form) }}
    <div class="btn-footer">
        <button class="btn btn-default btn-lg" type="submit">&nbsp;Save</button>
    </div>
    {{ form_end(form) }}
{% endblock content %}

