{% extends '@App/layout.html.twig' %}


{% block content %}
    <div class="col-lg-8">
        <div class="hero-unit">
            <h1>Библиотека</h1>
        </div>
    {% for book in books %}
        {% include "@App/Default/item/book.html.twig" with {'book':book} %}
        <hr/>
    {% endfor %}
    </div>
{% endblock content %}